In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("cy-2022-excel-spreadsheet.xlsx")

In [6]:
df.head()

,Bureau of Safety and Environmental Enforcement \nCalendar Year 2022 Offshore Incident Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,SN_EV_MASTERS,Date,Time,Operator Name,District (2010),Panel,OCS Region,District Name,Area Name,Block,...,Equipment Failure,Human Error,Slip Trip and Fall,Weather,External Damage,Leak,Upset H2O,Overboard Fluid,Other Cause,Other Cause Description
1,-32975,2022-01-01 00:00:00,1200,Exxon Mobil Corporation,N,NaN,Pacific,California District,South Marsh Island Area,6636,...,N,N,N,N,N,N,N,N,N,NaN
2,-32906,2022-01-02 00:00:00,2200,Shell Offshore Inc.,N,NaN,Gulf of Mexico,New Orleans District,Mississippi Canyon,809,...,N,N,N,N,N,N,N,N,N,NaN
3,-32987,2022-01-03 00:00:00,15,"Renaissance Offshore, LLC",N,NaN,Gulf of Mexico,Houma District,Ship Shoal Area,219,...,N,N,N,N,N,N,N,N,N,NaN
4,-32865,2022-01-03 00:00:00,448,Anadarko Petroleum Corporation,N,NaN,Gulf of Mexico,Lake Jackson District,Garden Banks,668,...,N,N,N,N,N,N,N,N,N,NaN

In [10]:
df_2021 = pd.read_excel("cy-2021-excel-spreadsheet.xlsx")

In [11]:
df_2021.head()

,Bureau of Safety and Environmental Enforcement \nCalendar Year 2021 Offshore Incident Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,SN_EV_MASTERS,Date,Time,Operator Name,District (2010),Panel,OCS Region,District Name,Area Name,Block,...,Equipment Failure,Human Error,Slip Trip and Fall,Weather,External Damage,Leak,Upset H2O,Overboard Fluid,Other Cause,Other Cause Description
1,-30080,2021-01-01 00:00:00,857,BP Exploration & Production Inc.,N,NaN,Gulf of Mexico,Houma District,Green Canyon,743,...,N,N,N,N,N,N,N,N,N,NaN
2,-30089,2021-01-02 00:00:00,855,Woodside Energy (GOM) Inc.,N,NaN,Gulf of Mexico,Houma District,Green Canyon,609,...,N,N,N,N,N,N,N,N,N,NaN
3,-30112,2021-01-02 00:00:00,1300,Talos Petroleum LLC,N,NaN,Gulf of Mexico,Houma District,Ship Shoal Area,112,...,N,N,N,N,N,N,N,N,N,NaN
4,-30081,2021-01-03 00:00:00,1515,BP Exploration & Production Inc.,N,NaN,Gulf of Mexico,Houma District,Green Canyon,787,...,N,N,N,N,N,N,N,N,N,NaN

In [13]:
df_2021.columns

Index(['Bureau of Safety and Environmental Enforcement \nCalendar Year 2021 Offshore Incident Statistics',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65'],
      dtype='object')